<header>
    <div class="navbar">
        <div class="logo">
            <strong>BONAESKY</strong>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <i class="bi bi-search"></i>
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Mis ordenes</a></li>
                    <li><a href="#">Bolsa<i class="bi bi-cart3"></i></a></li>
                    <li><a style="color: #fff;" class="login" href="#">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
