<div class="sidebar">
    <div class="cat"><i class="bi bi-list"></i><h1>Categoría</h1></div>
    <ul>
        <li><span>Retira hoy</span><i class="bi bi-chevron-down"></i></li>
        <li><span>Marca</span><i class="bi bi-chevron-down"></i></li>
        <li><span>Precio</span><i class="bi bi-chevron-down"></i></li>
        <li><span>Color</span><i class="bi bi-chevron-down"></i></li>
        <li><span>Temporada</span><i class="bi bi-chevron-down"></i></li>
        <li><span>Temporada</span><i class="bi bi-chevron-down"></i></li>
        <li><span>Temporada</span><i class="bi bi-chevron-down"></i></li>
    </ul>
</div>